.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(159, 159, 159);
}
.done{
    text-decoration: line-through;
}
.todoForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.todo-input{
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
}

.button{
  background-color: #e7e7e7; 
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}
.noTodos{
    font-size: 30px;
}
#id{
    font-size: 40px;
}
.content{
    font-size: 30px;
    margin: 10px;
}